@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-secondary: var(--foreground-secondary);
    --color-primary: var(--primary);
}

.google-sans-code {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
}

:root {
    --color-foreground: #ffffff;
    --foreground-secondary: #ffffff;
    --background: #171717;
    --primary: #A79EA1;
    /* --primary: #2E073F; */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'fontWacks';
    src: url('FashionWacks-Regular.ttf');
}

.fontWacks {
    font-family: 'fontWacks';
}

@font-face {
    font-family: 'Analogist';
    src: url('Analogist.otf');
}

.analogist {
    font-family: 'Analogist';
}

p {
    font-family: 'Analogist';
}

.text-shadow-black {
    text-shadow: #000000 2px 2px 4px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes twinkLing */

input,
textarea {
    outline: none;
}