@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'fontWacks';
  src: url('FashionWacks-Regular.ttf');
}

.fontWacks {
  font-family: 'fontWacks';
}
@font-face {
  font-family: 'Analogist';
  src: url('Analogist.otf');
}

.analogist {
  font-family: 'Analogist';
}

p{
  font-family: 'Analogist';
}

.text-shadow-black{
  text-shadow: #000000 2px 2px 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes twinkLing */

input, textarea{
  outline: none;
}
