@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-secondary: var(--foreground-secondary);
    --color-primary: var(--primary);
}

.google-sans-code {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.05em;
}

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.05em;
}

:root {
    --foreground: #1a1008;
    --foreground-secondary: #f0e8d8;
    --background: #1c1408;
    --primary: #c2dad9;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'fontWacks';
    src: url('FashionWacks-Regular.ttf');
}

.fontWacks {
    font-family: 'fontWacks';
}

@font-face {
    font-family: 'Analogist';
    src: url('Analogist.otf');
}

.analogist {
    font-family: 'Analogist';
}

p {
    font-family: 'Analogist';
}

.text-shadow-black {
    text-shadow: #000000 2px 2px 4px;
}

body {
    background-color: var(--primary);
    background-image: url('/the-wall.svg');
    background-size: 500px 500px;
    background-repeat: repeat;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes twinkLing */

input,
textarea {
    outline: none;
}